

.employee-search-module {
    border: 2px solid blue;
    padding: 1em;
    margin: 1em;
}

.specific-cert-card {
    border: 2px solid pink;
    margin: 1em;
    padding: 1em;
}

.employee-search-response {
    border: 2px dotted green;
    max-width: 50%;
    margin: 1em
}

.employee-search-response-group {
    display: flex;
    flex-wrap: wrap;
}
